@import url(https://fonts.googleapis.com/css?family=Nunito:400);

body {
    font-family: 'Nunito', sans-serif;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html {
	overflow-y: scroll; 
}
a {
  text-decoration:none;
  transition:.5s ease;
}

.form {
  background:rgba($form-bg,.9);
  padding: 40px;
  max-width:600px;
  margin:40px auto;
  border-radius:$br;
  box-shadow:0 4px 10px 4px rgba($form-bg,.3);
}

.tab-group {
  list-style:none;
  padding:0;
  margin:0 0 40px 0;
  }
  li a {
    display:block;
    text-decoration:none;
    padding:15px;
    font-size:20px;
    float:left;
    width:50%;
    text-align:center;
    cursor:pointer;
    transition:.5s ease;
    }
  }
  .active a {
    background:$main;
    color:$white;
  }
}

.tab-content > div:last-child {
  display:none;
}


h1 {
  text-align:center;
  color:$white;
  font-weight:$thin;
  margin:0 0 40px;
}

label.active {
  transform:translateY(50px);
  left:2px;
  font-size:14px;
}

label.highlight {
	color:white;
}

input{
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #fff;
    padding: 15px;
    outline: none;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    }

textarea {
  border:2px solid;
  resize: vertical;
}

.field-wrap {
  position:relative;
  margin-bottom:40px;
}


.button {
  border:0;
  outline:none;
  border-radius:0;
  padding:15px 0;
  font-size:2rem;
  font-weight:$bold;
  text-transform:uppercase;
  letter-spacing:.1em;
  transition:all.5s ease;
  -webkit-appearance: none;
}

.button-block {
  display:block;
  width:100%;
  margin-bottom: 2vh;
}

.forgot {
  margin-top:-20px;
  text-align:right;
}